@namespace todocomponent


<h1 class="todo_main_class">Todo-List</h1>

<div class="todo_main_class">

    <input type="text" value="@TextValue" @oninput="HandleInput" />

    <button @onclick="ButtonClick">Add to List.</button>

</div>

<style>
    ul {
        list-style-type: none;
    }
</style>

<div class="border_list">
    <ul>

        @foreach (var item in Items)
        {
            <li>
                @checkmark(@Items[@index])


            </li>
        }

    </ul>
</div>


@code {



    private int index { get; set; } = 0;

    private string TextValue { get; set; } = "";

    private List<string> Items { get; set; }

    private void HandleInput(ChangeEventArgs e)
    {
        TextValue = e.Value.ToString();
    }

    protected override void OnInitialized()
    {
        Items = new List<string>
        { };
    }

    private void ButtonClick()
    {
        if (TextValue != "")
        {
            Items.Add(TextValue);
        }

    }

    RenderFragment checkmark(string text)
    {
        bool input = true;


        if (input == true)
        {
            return
    @<li>
        @text<RadzenIcon Icon="checkmark" />

        <button onclick="@(() => {
            input = false;

            input = !input;

        })"></button>

    </li>;}
        else
        {
            return
    @<li>
        @text<RadzenIcon Icon="stop" />
        <button onclick="@(() => {
            input = true;

            input = !input;
        })">
        </button>
    </li>;
        }
    }
}